<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGe4P4LKO2nLm1QmtTTNIbNuzmMOz2yW8</string>
	<key>GCM_SENDER_ID</key>
	<string>620418755644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>letienit.todoapp.riverpodTodoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-f20fd</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-f20fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620418755644:ios:86b577e3ef345202796739</string>
</dict>
</plist>